{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <h2>Super kalkulačka</h2>
    {{ form_start(loan_form) }}
        {{ form(loan_form) }}
    {{ form_end(loan_form) }}
{% endblock %}
